@import "../../styles/settings.css";

.root {
  position: relative;

  color: $color-cooper-red;

  font-size: $size-20;
  line-height: $size-26;
  text-decoration: none;
}

.root.selected {
  color: $color-red;
}

.circle {
  position: absolute;
  bottom: -$size-20;
  left: 50%;

  width: 12px;
  height: 12px;

  background-color: $color-red;
  border-radius: 50%;

  transform: translateX(-50%);

  transition: transform 0.3s ease-in;
}
