@import "../../styles/settings.css";

.root {
  display: inline-block;

  padding: $size-26 $size-36;

  border: none;
  border-radius: $size-26;

  cursor: pointer;

  font-size: $size-26;
  line-height: $size-36;
  text-decoration: none;
}

.redTheme {
  background: $color-red;

  color: $color-white;
}

.neonCarrotTheme {
  background: $color-neon-carrot;

  color: $color-white;
}
