@import "../../styles/settings.css";

.root {
  display: inline-block;

  width: auto;
  height: $size-64;
  padding: $size-20 $size-32;

  border: none;
  border-radius: $size-12;

  cursor: pointer;

  font-size: $size-20;
  line-height: $size-26;
  text-align: center;

  text-decoration: none;

  @media (width < $Breakpoint-tablet) {
    width: 100%;
    max-width: $four-columns;
  }

  @media (width < $Breakpoint-mobile) {
    height: 52px;
    padding: $size-16 $size-32;

    font-size: $size-16;
    line-height: $size-20;
  }
}

.redTheme {
  background: $color-red;

  color: $color-white;
}

.neonCarrotTheme {
  background: $color-neon-carrot;

  color: $color-white;
}

.whiteTheme {
  background-color: $color-white;

  color: $color-red;
}
