@import "../../styles/settings.css";

.root {
  font-size: $size-20;
  line-height: $size-26;

  @media (width < $Breakpoint-mobile) {
    font-size: $size-16;
    line-height: $size-20;
  }
}

.redTheme {
  color: $color-cooper-red;
}

.neonCarrotTheme {
  color: $color-neon-carrot;
}

.greyishBlueTheme {
  color: $color-greyish-blue;
}

.goldYellowTheme {
  color: $color-gold-yellow;
}

.blueTheme {
  color: $color-blue;
}

.mineshaftTheme {
  color: $color-mineshaft;
}

.normal {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}
