@import "../../styles/settings.css";

.root {
  font-size: $size-26;
  line-height: $size-36;
}

.redTheme {
  color: $color-cooper-red;
}

.neonCarrotTheme {
  color: $color-neon-carrot;
}

.greyishBlueTheme {
  color: $color-greyish-blue;
}

.goldYellowTheme {
  color: $color-gold-yellow;
}
