@import "./settings.css";

html {
  background-color: $color-quarter-pearl-lusta;

  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  padding: 0;
  margin: 0;
}
