$color-red: #de5959;
$color-light-red: #fcece7;
$color-sweet-brown: #ad3333;
$color-neon-carrot: #f69f4e;
$color-gold-yellow: #a16620;
$color-cooper-red: #784848;
$color-blue: #2690d8;
$color-light-blue: #e5f1f9;
$color-greyish-blue: #6189a4;
$color-white: #ffffff;

$size-8: 8px;
$size-12: 12px;
$size-16: 16px;
$size-20: 20px;
$size-28: 28px;
$size-36: 36px;
$size-48: 48px;
$size-64: 64px;
$size-84: 84px;
$size-112: 112px;
$size-148: 148px;
$size-196: 196px;

$gutter: 24px;
$column: 65px;
$column-spacing: calc(2 * $gutter + $column);
$two-columns: calc(2 * $column + $gutter);
$three-columns: calc(3 * $column + 2 * $gutter);
$four-columns: calc(4 * $column + 3 * $gutter);
$five-columns: calc(5 * $column + 4 * $gutter);
$six-columns: calc(6 * $column + 5 * $gutter);
$seven-columns: calc(7 * $column + 6 * $gutter);
$eight-columns: calc(8 * $column + 7 * $gutter);
$nine-columns: calc(9 * $column + 8 * $gutter);
$ten-columns: calc(10 * $column + 9 * $gutter);
$eleven-columns: calc(11 * $column + 10 * $gutter);
$twelve-columns: calc(12 * $column + 11 * $gutter);
$thirteen-columns: calc(13 * $column + 12 * $gutter);
$fourteen-columns: calc(14 * $column + 13 * $gutter);
$fifteen-columns: calc(15 * $column + 14 * $gutter);
$sixteen-columns: calc(16 * $column + 15 * $gutter);

$content-width-desktop: $sixteen-columns;
