@import "../../styles/settings.css";

.root {
  font-size: $size-36;
  line-height: $size-48;
}

.blueTheme {
  color: $color-blue;
}

.redTheme {
  color: $color-cooper-red;
}

.neonCarrotTheme {
  color: $color-neon-carrot;
}

.greyishBlueTheme {
  color: $color-greyish-blue;
}
