@import "../styles/settings.css";

.hero {
  max-width: $twelve-columns;
  margin: 0 auto;
  margin-top: $size-112;
  margin-bottom: $size-48;

  @media (width < $Breakpoint-mobile) {
    margin: $size-64 0;
  }
}

.heroTitle {
  margin-bottom: $size-26;
}

.faqs {
  max-width: $ten-columns;
  margin: $size-112 auto;

  @media (width < $Breakpoint-mobile) {
    margin: $size-64 0;
  }
}

.faq:not(:last-child) {
  margin-bottom: $size-26;
}
