@import "../styles/settings.css";

.sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (width < $Breakpoint-mobile) {
    display: flex;
    flex-direction: column;
  }
}

.left {
  max-width: $seven-columns;
  margin-top: $size-136;
  margin-right: $gutter;

  @media (width < $Breakpoint-tablet) {
    max-width: 50%;
  }

  @media (width < $Breakpoint-mobile) {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: $size-36;
  }
}

.newsletterDesktop {
  margin-top: $size-112;

  @media (width < $Breakpoint-mobile) {
    display: none;
  }
}

.right {
  max-width: $eight-columns;

  @media (width < $Breakpoint-tablet) {
    max-width: 50%;
  }

  @media (width < $Breakpoint-mobile) {
    max-width: 100%;
  }
}

.institution {
  margin-top: $size-112;

  @media (width < $Breakpoint-mobile) {
    margin-top: $size-32;
  }
}

.newsletterMobile {
  margin-top: $size-48;

  @media (width >= $Breakpoint-mobile) {
    display: none;
  }
}
