@import "../styles/settings.css";

.sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (width < $Breakpoint-mobile) {
    display: flex;
    flex-direction: column;
  }
}

.left {
  max-width: $seven-columns;
  margin-top: $size-136;
  margin-right: $gutter;

  @media (width < $Breakpoint-mobile) {
    margin-bottom: $size-36;
  }
}

.newsletter {
  margin-top: $size-112;
}

.right {
  max-width: $eight-columns;
}
