@import "../../styles/settings.css";

.root {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: $size-148 $column $size-294 $column;

  background: linear-gradient(94.99deg, #f9f1e5 13.96%, #f9f1e5 90.87%);
  border-radius: 128px;
}

.copy > * + * {
  margin-top: $size-20;
}

.foreground {
  position: absolute;
  top: 15%;

  width: calc(100% - $column);
  padding-right: $column;
}
