@import "../../styles/settings.css";

.root {
  font-size: $size-26;
  line-height: $size-36;

  @media (width < $Breakpoint-mobile) {
    font-size: $size-20;
    line-height: $size-26;
  }
}

.blueTheme {
  color: $color-blue;
}

.redTheme {
  color: $color-cooper-red;
}

.neonCarrotTheme {
  color: $color-neon-carrot;
}

.goldYellowTheme {
  color: $color-gold-yellow;
}

.greyishBlueTheme {
  color: $color-greyish-blue;
}

.sweetBrownTheme {
  color: $color-sweet-brown;
}
