@import "../../styles/settings.css";

.root {
  position: fixed;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $size-148;

  background-color: $color-quarter-pearl-lusta;
}

.nav {
  display: flex;
  align-items: center;

  font-size: $size-20;
  line-height: $size-26;
}

.logo {
  position: relative;
  top: $size-64;
  left: $size-84;
}

.link {
  display: inline-block;
  padding-right: $column;
}
