@import "../../styles/settings.css";

.root {
  padding: $size-64;

  border-radius: $size-48;

  @media (width < $Breakpoint-tablet) {
    padding: $size-48 $size-36;
  }

  @media (width < $Breakpoint-mobile) {
    padding: $size-26;

    border-radius: $size-26;
  }
}

.lightBlueTheme {
  background-color: $color-light-blue;
}

.lightRedTheme {
  background-color: $color-light-red;
}

.linenTheme {
  background-color: $color-linen;
}
