@import "../../styles/settings.css";

.root {
  display: flex;
  flex-direction: column;
  padding: 0 $size-64;
  margin: $size-112 0;

  @media (width < $Breakpoint-tablet) {
    padding: 0 $size-36;
  }

  @media (width < $Breakpoint-mobile) {
    padding: 0 $gutter;
    margin: $size-32 0;
  }
}

.subtitle {
  margin: $size-26 0;

  @media (width < $Breakpoint-mobile) {
    margin-top: $size-12;
  }
}

.bottomRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (width < $Breakpoint-tablet) {
    flex-direction: column;
  }
}

.social {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.socialItem {
  width: $size-64;
  margin-right: $size-26;

  @media (width < $Breakpoint-mobile) {
    width: $size-48;
    margin-right: $size-20;
  }
}

.extraLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  @media (width < $Breakpoint-tablet) {
    margin-top: $size-26;
  }
}

.extraLinks a {
  padding-bottom: $size-8;
}

.extraLinks a:first-child {
  margin-right: $size-32;
}
