@import "../../styles/settings.css";

.root {
  display: flex;
  flex-direction: column;
}

.description {
  margin-top: $size-20;
  margin-bottom: $size-48;

  @media (width < $Breakpoint-mobile) {
    margin-top: $size-12;
    margin-bottom: $size-36;
  }
}

.needHelpSection {
  margin-top: $size-112;
}
