@import "../../styles/settings.css";

.root {
  display: flex;
  flex-direction: column;
}

.description {
  margin-top: $size-20;
  margin-bottom: $size-48;

  @media (width < $Breakpoint-mobile) {
    margin-top: $size-12;
    margin-bottom: $size-36;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (width < $Breakpoint-tablet) {
    flex-direction: column;
    align-items: center;
  }
}

.actions > *:last-child {
  @media (width < $Breakpoint-tablet) {
    margin-top: $size-26;
  }
}

.needHelpSection {
  margin-top: $size-112;

  @media (width < $Breakpoint-mobile) {
    margin-top: $size-32;
  }
}
