@import "../../styles/settings.css";

.subtitle {
  margin-top: $size-26;
  margin-bottom: $size-48;

  @media (width < $Breakpoint-mobile) {
    margin: $size-12 0;
  }
}

.institution {
  margin-top: $size-26;
}

.link {
  margin-top: $size-64;

  @media (width < $Breakpoint-mobile) {
    margin-top: $size-36;
  }
}
