@import "../../styles/settings.css";

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: $size-26 0;

  border-bottom: 1px solid $color-blue;

  @media (width < $Breakpoint-mobile) {
    padding: $size-16 0;
  }
}

.value {
  color: $color-blue;

  font-size: $size-32;
  line-height: $size-48;

  @media (width < $Breakpoint-mobile) {
    font-size: $size-20;
    line-height: $size-26;
  }
}
