@import "../../styles/settings.css";

.root {
  position: relative;

  padding-bottom: $size-12;

  color: $color-blue;

  font-size: $size-26;
  line-height: $size-36;

  text-decoration: none;

  @media (width < $Breakpoint-mobile) {
    padding-bottom: $size-8;

    font-size: $size-16;
    line-height: $size-20;
  }
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: $color-blue;

  transform: translateY(0px);

  transition: transform 0.3s ease-in;

  @media (width < $Breakpoint-mobile) {
    bottom: 8px;
  }
}

.root:hover .underline {
  transform: translateY(-$size-8);
}
