@import "../../styles/settings.css";

.root {
  position: relative;

  display: inline-flex;
  flex-direction: row;
  align-items: center;

  padding-bottom: 4px;

  font-size: $size-20;
  line-height: $size-26;

  @media (width < $Breakpoint-mobile) {
    font-size: $size-16;
    line-height: $size-20;
  }
}

.anchor {
  color: $color-blue;

  text-decoration: none;
}

.icon {
  width: $size-26;
  height: $size-26;
  margin-right: $size-20;

  @media (width < $Breakpoint-mobile) {
    width: $size-26;
    height: $size-20;
    margin-right: $size-12;
  }
}

.animate {
  padding-bottom: $size-8;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: $color-blue;

  transform: translateY(0px);

  transition: transform 0.3s ease-in;
}

.animate:hover .underline {
  transform: translateY(-$size-8);
}
